.managerProduct-wrapper {
    font-family: Arial, sans-serif;
  }
  
  .managerProduct-content {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
  }
  
  .managerProduct-no-items {
    color: #888;
  }
  
  .managerProduct-custom-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .managerProduct-divider {
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
  }
  
  .managerProduct-logo {
    margin-bottom: 20px;
  }
  
  .managerProduct-logo-box {
    width: 90px;
    height: 90px;
    background-color: #c81990;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .managerProduct-logo-text-c {
    color: white;
    font-size: 34px;
    font-weight: bold;
  }
  
  .managerProduct-logo-text-v {
    color: #E63946;
    font-size: 34px;
    font-weight: bold;
  }
  
  .managerProduct-title h1 {
    margin-left: 40px;
    font-size: 24px;
  }
  
  .managerProduct-title p {
    margin-left: 40px;
    color: #888;
  }
  
  .managerProduct-form-group {
    margin-bottom: 15px;
  }
  
  .managerProduct-licenses {
    display: flex;
    justify-content: space-between;
  }
  
  .managerProduct-licenses-sidebar {
    width: 30%;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
  }
  
  .managerProduct-search-bar {
    margin-bottom: 10px;
  }
  
  .managerProduct-search-bar input {
    width: 100%;
    padding: 5px;
    border: 1px solid #e0e0e0
  }  