.landing-image{
    width: 100vw;
    object-fit: cover;
    position: absolute;
    height: 75vh;
    z-index: -1;

}
.landing-carousel{
    height: 75vh;
}
.carousel-content {
    padding: 0 15vw 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.carousel-content > .landing-product-icon{
width: 50vh;
}