.container {
  margin-top: 3rem;
}

.billing-table .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-spacing: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.billing-table .table-bordered {
  border: 1px solid #dee2e6;
}

.billing-table .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
  background-color: #f8f9fa;
  font-weight: bold;
  color: #495057;
}

.billing-table .table tbody td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background-color: #ffffff;
}

.billing-table .table tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.billing-table .table tbody tr:hover {
  background-color: #e9ecef;
}

.billing-table .table .text-warning {
  color: #ffc107 !important;
}

.billing-table .table .text-success {
  color: #28a745 !important;
}

.billing-table .table .text-danger {
  color: #dc3545 !important;
}

.billing-table .table .product-status-installed-and-used {
  color: #28a745 !important; /* Verde */
}

.billing-table .table .product-status-installed {
  color: #ffc107 !important; /* Amarelo */
}

.billing-table .table .product-status-pending {
  color: #ffc107 !important; /* Amarelo */
}

.billing-table .table .product-status-not-installed {
  color: #dc3545 !important; /* Vermelho */
}

.billing-table .linknormal {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.billing-table .linknormal:hover {
  color: #0056b3;
  text-decoration: underline;
}

.search-bar-container {
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 0.5rem;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
