@media (max-width: 992px) {
    .card .card-description {
        display: none;

    }
    .card {
        aspect-ratio: auto;
    
    }
}
.card-discount{
    background-color:var(--primary-blue);
    width: fit-content;
}