.licenses-details {
    width: 65%;
    padding-left: 20px;
    margin-top: 30px;
}

.license-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.license-header p {
    margin: 0;
    font-size: 1.2em;
}

.license-key-section {
    margin-top: 10px;
}

.license-key {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;base64,...') no-repeat center center; /* Base64 encoded icon or path to icon */
    background-size: contain;
    margin-right: 10px;
}

.subtitulo {
    font-size: 15px;
}

.remove-license {
    margin-top: 0; /* Remove top margin */
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.license-count {
    margin-top: 10px;
    text-align: right;
}