.custom-dropdown-toggle::after {
    content: none !important;
  }
  

.dropdown-menu {
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item img {
    margin-right: 10px;
}

.dropdown-item span {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-divider {
    margin: 0.5rem 0;
}