.custom-dropdown-toggle::after {
    content: none !important;
  }
.dropdown-menu{
    width: 20rem;

}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item img {
    margin-right: 10px;
}

.dropdown-item span {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: var(--white);
}

.dropdown-divider {
    margin: 0.5rem 0;
}