th, td{
  padding: .8rem 1rem;
}

tbody>*:not(:last-child){
  border-bottom: .1rem var(--gray-2) solid;

}

.billing-table .table .text-warning {
  color: #ffc107 !important;
}

.billing-table .table .text-success {
  color: #28a745 !important;
}

.billing-table .table .text-danger {
  color: #dc3545 !important;
}

.billing-table .linknormal {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.billing-table .linknormal:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* billing-table-addons.css */
.container {
  padding: 20px;
}



.add-product-text:hover {
  text-decoration: underline;
}
