.adminHub-wrapper {
    padding: 20px;
}

.adminHub-container {
    padding: 20px;
}

.adminHub-row {
    display: flex;
    flex-wrap: wrap;
}

.adminHub-large-card {
    height: 300px;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
}

.adminHub-small-card {
    height: 150px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px; /* Adjust if needed */
}

.adminHub-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adminHub-card-title {
    margin: 0;
}