.adminHub-wrapper {
    padding: 20px;
}

.adminHub-container {
    padding: 20px;
}

.adminHub-row {
    display: flex;
    flex-wrap: wrap;
}

.adminHub-large-card {
    height: 320px;  
    width: 100%;  
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 15px;  
    box-sizing: border-box;  
}

.adminHub-small-card {
    height: 150px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px; /* Adjust if needed */
}

.adminHub-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns text to the left */
    height: 100%;
    padding-left: 15px; /* Adds padding to the left for better spacing */
}

.adminHub-card-title {
    margin: 0;
    font-size: 16px; /* Example size, adjust as needed */
    font-weight: bold; /* Makes the title bold */
}

.adminHub-card-body h2 {
    font-size: 34px; /* Example size, adjust as needed */
    font-family: 'Metropolis Bold';
}

.reduce-top-margin {
    margin-top: 10px; /* Adjust the value as needed */
}

.adminHub-container {
    margin-top: 10px !important; /* Use !important to ensure it overrides any other styles */
}

.custom-margin-top {
    margin-top: -90px; /* Adjust this value as needed to reduce the top margin */
}