.adminHub-square-card {
    height: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.adminHub-small-card {
    height: 150px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.adminHub-container {
    padding: 20px;
}

.adminHub-innerContainer {
    padding: 0 15px;
}

.adminHub-wrapper {
    padding: 20px;
}

.adminHub-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}