.wrapper {
    max-width: 1200px;
}

.card {
    border: none;
    background-color: #ffffff;
}

.card-body {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.image-placeholder {
    width: 45px;
    height: 45px;
    background-color: #cccccc;
    border-radius: 5px;
}

.image-placeholder.design-pack {
    background-color: #ff00ff;
}

.card-body span {
    margin-left: 10px;
}


