.m-all-products.wrapper {
    max-width: 1200px;
  }
  
  .m-all-products .card {
    border: none;
    background-color: #ffffff;
  }
  
  .m-all-products .card-body {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .image-placeholder {
    width: 45px;
    height: 45px;
    background-color: #cccccc;
    border-radius: 5px;
  }
  
  .image-placeholder.design-pack {
    background-color: #ff00ff;
  }
  
  .m-all-products .card-body span {
    margin-left: 10px;
  }
  
  .card-margin-reduced {
    margin-bottom: 2px; /* Ajuste o valor conforme necessário */
  }
  
  .container {
    padding: 20px;
  }
  
  .m-all-products .search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start; /* Alinha os elementos à esquerda */
  }
  
  .m-all-products .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #f5f5f5; /* Fundo para combinar com o exemplo */
    height: 36px; /* Ajuste para coincidir com a altura do seletor de país */
  }
  
  .m-all-products .search-icon {
    margin-right: 10px;
    color: #888;
  }
  
  .m-all-products .search-input {
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
    color: #000;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    margin-left: 10px; 
  }
  
  .buttons-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    color: #000000;
  }
  
  .buttons-container button.active {
    font-weight: bold;
    text-decoration: underline;
  }
  