.wrapper {
    max-width: 1200px;
  }
  
  .image-placeholder {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-body span {
    font-size: 1rem;
  }