@font-face {
    font-family: 'Metropolis Regular';
    src: url('./font/Metropolis-Regular.otf') format('otf'),
        url('./font/Metropolis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Bold';
    src: url('./font/Metropolis-Bold.otf') format('otf'),
        url('./font/Metropolis-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Medium';
    src: url('./font/Metropolis-Medium.otf') format('otf'),
        url('./font/Metropolis-Medium.woff') format('woff');
}

:root {
    --white: #FFFFFF;
    --black: #26292E;
    --gray-3: #898D92;
    --gray-2: #C9CCCF;
    --gray-1: #F0F1F1;
    --green: #F0F1F1;
    --yellow: #FFC32F;
    --red: #DF314E;
    --orange: #FFA13A;
    --primary-blue: #1269E2;
}

::-webkit-scrollbar {
    width: 0.4rem;

}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    transition: .5s;
    background: var(--gray-3);
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
    background: #686d74;

}

body {
    font-family: 'Metropolis Regular', sans-serif;
    color: var(--black);
    background-color: var(--gray-1);
    overflow-x: hidden;
}

hr{
    border-color: var(--gray-2);
    border-width: .01rem;
    border-style: solid;
    opacity: 1;
}
.bg-white {
    background-color: var(--white);
}

.bg-gray1 {
    background-color: var(--gray-1);
}

.wrapper {
    padding-top: 4.2rem;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;


}

.text-medium {
    font-family: 'Metropolis Medium';
}

.text-bold {
    font-family: 'Metropolis Bold';
}

.text-secondary {
    font-family: 'Metropolis Regular';
    color: var(--gray-3) !important;
}

.fs-6 {
    font-size: 0.8rem !important;
}

/*Navbar*/
.nav-link {
    height: 100%;
}

.nav-link.active {
    border-bottom: 0.1rem black solid;
}

.navbar-admin {
    height: 4.2rem;

}

.navbar-admin>span {
    flex: 1;
}

.navbar-admin>span>a {
    text-decoration: none;
    color: var(--black);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/*Utility*/
.px-10vw {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
}

.mx-10vw {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}


.w-100 {
    width: 100%;
}

/*Buttons*/
.btn-primary {
    background-color: var(--primary-blue);
    border: none;
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Metropolis Medium';
}

.btn-primary:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    filter: brightness(1.15);
}

.btn-secondary {
    background-color: var(--white);
    border: solid .15rem var(--black);
    color: var(--black);
    padding: .3rem .6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Metropolis Medium';

}

.btn-secondary:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--black);
    background-color: var(--gray-1);
}

/*Forms*/
.input-group {
    background-color: var(--gray-1);
    border: .1rem solid var(--gray-2);
}

.form-control {
    background-color: var(--gray-1);
    border: .1rem solid var(--gray-2);
}

.form-check-input:checked {
    background-color: var(--black);
    border-color: var(--black);
}
.linknormal {
    font-family: 'Metropolis Bold', sans-serif;
    color: var(--black);
    text-decoration: none;
}

.filter-tab {
    border-bottom: solid 0.1rem var(--gray-2);
    width: 100%;
    padding: 0 10vw 0 10vw;
}

.filter-tab button {
    border: 0;
    border-radius: 0;
    height: 100%;

}

.filter-tab button.active {
    border-bottom: var(--black) 0.15rem solid;
}

.clickable-card {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    border: 0.1rem var(--gray-2) solid;

}

.clickable-card:hover {
    background-color: var(--gray-1);
}

.card {
    border-color: var(--gray-2);
    border-width: .1rem;
}

.regular-border {
    border-color: var(--gray-2);
    border-width: .1rem;
    border-style: solid;
}